## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bridgend,GB,51.5058,-3.5772,57.51,64,100,7.00,overcast clouds
1,1,Mount Pleasant,US,32.7941,-79.8626,81.09,53,20,10.36,few clouds
2,2,Nishihara,JP,26.1842,127.7558,70.88,73,100,6.91,overcast clouds
3,3,Murgud,IN,16.4000,74.2000,77.79,69,5,6.02,clear sky
4,4,Barrow,US,71.2906,-156.7887,21.97,90,98,0.92,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
pref_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Mount Pleasant,US,32.7941,-79.8626,81.09,53,20,10.36,few clouds
3,3,Murgud,IN,16.4000,74.2000,77.79,69,5,6.02,clear sky
5,5,Atuona,PF,-9.8000,-139.0333,79.00,76,36,14.38,scattered clouds
6,6,Santa Cruz,BO,-17.8000,-63.1667,78.85,61,20,4.61,few clouds
8,8,Puerto Ayora,EC,-0.7393,-90.3518,80.56,79,37,9.69,scattered clouds
14,14,Meulaboh,ID,4.1363,96.1285,79.00,86,100,2.04,overcast clouds
15,15,Rikitea,PF,-23.1203,-134.9692,75.85,76,58,14.32,light rain
18,18,Cap-Haitien,HT,19.7578,-72.2042,77.81,68,91,11.36,overcast clouds
19,19,Vaini,TO,-21.2000,-175.2000,75.36,100,100,6.91,light intensity shower rain
20,20,Bambous Virieux,MU,-20.3428,57.7575,77.25,83,40,11.50,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
pref_cities_df.count()

City_ID                213
City                   213
Country                213
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = pref_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mount Pleasant,US,81.09,few clouds,32.7941,-79.8626,
3,Murgud,IN,77.79,clear sky,16.4000,74.2000,
5,Atuona,PF,79.00,scattered clouds,-9.8000,-139.0333,
6,Santa Cruz,BO,78.85,few clouds,-17.8000,-63.1667,
8,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,
14,Meulaboh,ID,79.00,overcast clouds,4.1363,96.1285,
15,Rikitea,PF,75.85,light rain,-23.1203,-134.9692,
18,Cap-Haitien,HT,77.81,overcast clouds,19.7578,-72.2042,
19,Vaini,TO,75.36,light intensity shower rain,-21.2000,-175.2000,
20,Bambous Virieux,MU,77.25,scattered clouds,-20.3428,57.7575,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Adding name to dataframe.")
    except (IndexError):
        print("Hotel not found... skipping.")

Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Hotel not found... skipping.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.
Adding name to dataframe.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df.count()

City                   205
Country                205
Max Temp               205
Current Description    205
Lat                    205
Lng                    205
Hotel Name             205
dtype: int64

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))